table {
	width:55%;
	border: 1px solid silver;
	font-size:24px;
}
td:hover {
	background-color:darkred;
	color:yellow;
}
tr, th {
	background-color: black;
	color:cornsilk;
}
tr, td {
	background-color: yellow;
	color:darkred;
}